h1{color: ghostwhite; font-family: inherit;}
body{background:linear-gradient(rgb(1, 1, 105), rgb(219, 205, 205));}
h2{color: aqua; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
input{background-color: rgb(1, 1, 105); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: antiquewhite;}
#botonBb{background-color: red; color: aliceblue; border-radius:1090909090px;}
#crearsala{background-color: black;color: white;}